@CHARSET "UTF-8";

body, html {
	margin:0;
	padding:0;
	color:#000;
	background: white;
	font-family: "Myriad Pro", "Helvetica", "Arial", serif;
}

ul {
    list-style-type: none;
}

/* HEADER -------------------------------------------------------------- */

#header {
	background: #8AC7ED;
	color: #4E81A1;
	overflow: hidden;

}

#header-title {
	font-size: 36px;
	font-weight: bold;
	padding: 12px 0px 8px 15px;
	float:left;
}

#header-form {
	float:right;
	padding: 20px 8px 8px 10px;
}

#header-profile {
	float:right;
	padding: 23px 8px 8px 10px;	
}

input[type=submit] {
	margin-left: 10px;
	padding:2px 25px 2px 25px; 
	background:#CC6633; 
	border:1px solid #CC9999;
	cursor:pointer;
	color: white;
}

input[type=submit]:hover{
	background:#CC9966; 
}

/* MAIN ---------------------------------------------------------------- */

#main {
	float:left;
	width:68%;
}

div.largeHeader {
	font-size: 26px;
	font-weight: bold;
	color: #303336;
	border-bottom: solid #8AC7ED;
	border-bottom-width: 1px;
	width: 90%;
	margin: 20px 10px 0px 26px;
	padding-bottom: 9px;
}

div.smallHeader {
	font-size: 18px;
	font-weight: bold;
	color: #303336;
	border-bottom: solid #8AC7ED;
	border-bottom-width: 1px;
	padding: 2px;
}

div.quizWidget {
	overflow: hidden;
}

div.quizWidget .imgDiv {
	float:left;
}

div.quizWidget .contentDiv {
	margin-left: 10px;
	float:left;
}

div.quizWidget .dateDiv {
	float:right;
	margin-right: 100px;
}


/* SIDEBAR ------------------------------------------------------------ */

#sidebar {
	float:left;
	width:28%;
}

#announcements {
	margin: 20px 0px 30px 0px;
}

#announcements-header {
	color: #C4DCE8;
	background: #4E81A1;
	font-weight: bold;
	padding: 10px;
}

#announcements-body {
	color: #39647A;
	background: #C4DCE8;
	padding: 10px 12px 26px 12px;
}


